.label-container {
	position:fixed;
	bottom:20px;
	right:70px;
	/*right:10%;*/
	display:table;
	visibility: hidden;
}

.label-text {
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float {
	position:fixed;
	/*width:140px;
	height:50px;*/
	padding: 6px 10px 8px 10px;
	bottom:85px;
	right:30px;
	background-color: #29a71a;
	border: 1px solid #29a71a;
	color:#FFF;
	text-align:center;
	z-index: 99;
	border-radius: 2px;
	font-size: 27px;
	font-weight: bold;
	z-index: 999;
}

.my-float {
	margin-top:0px;
}

.float:hover,
.float:focus,
.float:active {
	background-color: #1a7510;
	color: #ffffff;
	text-decoration: normal;
	border: 1px solid #1a7510;
}
a.float  + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}